.header {
  width: 100%;
  height: 10rem;
  background-color: #fff;
  @media #{$xs} {
    height: 6rem;
  }
  &__nav {
    @include flexrow(space-between);
    height: 100%;
    display: flex;

    &_logo h1 {
      @media #{$xs_mobile} {
        font-size: 1.6rem;
      }
    }

    &_list {
      @include flexrow(space-between);
      padding-left: 15rem;

      li {
        padding: 4rem 0;
      }
    }

    &_items {
      form {
        position: relative;
        display: flex;
        max-width: 20rem;
      }
      input {
        border: 1px solid rgb(238, 238, 238);
        border-radius: 30px;
        padding: 10px 40px 10px 20px;
        width: 100%;
        outline: none;
      }
      i {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-40%);
      }
    }

    &_cart {
      @media #{$xs} {
        margin-left: auto;
      }
    }
    &_button {
      @media #{$xs} {
        margin-left: 3rem;
      }
      & .MuiButtonBase-root {
        background-color: blue;
        color: white;
        outline: none;
        height: 4rem;
        width: 10rem;
        &:hover {
          background-color: blue;
          transform: translateY(-2px);
        }
      }
    }
  }
}

.header ul > li:hover > ul.submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 95%;
  background-color: #fff;
  border-top: 5px solid red;
  box-shadow: 2px 2px 5px rgb(155, 148, 148);
  li {
    margin-top: 1rem;
    padding: 0 2rem;
    &:last-child {
      padding-bottom: 1rem;
    }
  }
}

.outsizeicon {
  @media #{$xs2} {
    padding: 1rem;
    border-radius: 50%;
    border: 1px solid grey;
  }
}
