/*Color Variables*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

li {
  list-style: none;
  font-size: 1.6rem;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

a:hover {
  color: #f5790b;
  text-decoration: none;
}

.container {
  max-width: 98%;
}

.home__background {
  width: 100%;
  background-color: #c7ecfd;
  margin: 0 auto;
}

.home__img {
  width: 100%;
}

.home__img img {
  width: 100%;
}

.home__text {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20%;
}

.home__text .MuiButtonBase-root {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.home__text .MuiButtonBase-root:hover {
  color: red;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  background-color: lightcyan;
}

.home__text p {
  font-family: "Yellowtail", cursive;
  color: #2577fd;
  font-size: 4rem;
  display: inline-block;
}

.home__text h1 {
  font-family: "Playfair Display", serif;
  font-size: 10rem;
  font-weight: 700;
}

@media (max-width: 576px) {
  .home__text h1 {
    font-size: 5rem;
  }
}

.home__text h3 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.home__text .MuiButtonBase-root {
  width: 15rem;
  height: 5rem;
  outline: none;
  font-size: 2rem;
}

@media (max-width: 991px) {
  .home__text .MuiButtonBase-root {
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .home__text h1 {
    font-size: 10rem;
  }
}

.category {
  width: 100%;
  text-align: center;
  margin: 7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category__title h1 {
  display: block;
  padding: 7rem 0;
  color: #000;
  font-size: 4.8rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.category__content {
  margin: 2rem 0;
}

.category__content_card {
  -webkit-box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.2);
          box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.2);
  margin-top: 1.4rem;
}

.category__content_card img {
  width: 100%;
  position: relative;
}

.category__content_card .card_text {
  position: absolute;
  top: 50%;
  right: 15%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category__content_card .card_text h2 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
}

.category__content_card .card_text div {
  background-color: #ffce30;
  border-radius: 3rem;
  padding: 1rem 2rem;
  color: black;
  font-weight: 400;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}

.category__content_card .card_text span {
  display: block;
  color: #0071fe;
  font-size: 2rem;
  text-transform: capitalize;
  font-family: "Yellowtail", cursive;
  font-weight: 600;
  text-shadow: 0px -3px 0px #fff;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .MuiDivider-root {
  width: 100%;
  margin: 3rem 0;
}

.products__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 7rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__title h1 {
  font-size: 4rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.products__title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__title ul li {
  font-size: 2.5rem;
  margin: 0 2rem;
}

.products__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0rem 1rem;
}

.product__img {
  position: relative;
}

.product__img img {
  width: 100%;
}

.product_title {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
}

.product__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.product__content__star {
  color: yellow;
}

.product__content__star .MuiIcon-root {
  color: yellow;
  border: 1px solid black;
}

.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  font-size: 3rem;
}

.product__price_old {
  color: #ff003c;
  text-decoration: line-through;
}

.bestproduct__background {
  background-color: #fff7d8;
  margin-top: 4rem;
  width: 100%;
  height: 100%;
}

.bestproduct_img img {
  -webkit-transform: translateX(20rem);
          transform: translateX(20rem);
}

.bestproduct_content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.bestproduct_content .MuiButton-root {
  background-color: black;
  color: white;
  height: 4rem;
  width: 15rem;
  outline: none;
}

.bestproduct_content .MuiButton-root:hover {
  color: black;
  background-color: #f5790b;
}

.bestproduct_content h1 {
  color: #000;
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 19px;
  width: 80%;
}

.bestproduct_content p {
  font-size: 2.5rem;
}

.bestproduct_icon {
  position: absolute;
  bottom: 10%;
  right: 10%;
  -webkit-animation: move 2s infinite ease-in;
          animation: move 2s infinite ease-in;
}

.bestcollection__background {
  margin: 5rem 0;
}

.bestcollection__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90%;
}

.bestcollection__title_one {
  padding-top: 30%;
}

.bestcollection__title_one h1 {
  margin-top: 2rem;
  font-size: 3rem;
}

.bestcollection__title_one p {
  margin-top: 2rem;
  font-size: 2rem;
}

.bestcollection__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

.two h2 {
  background-color: #2777fc;
  padding: 2rem;
  border-radius: 2rem;
  color: white;
}

.lastestoffer {
  background-image: url("/assets/img/collection/latest-offer.png");
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lastestoffer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15rem;
}

.lastestoffer__title h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.lastestoffer__title p {
  font-size: 2rem;
}

.lastestoffer__text {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10rem;
}

.lastestoffer__text input {
  height: 5rem;
  font-size: 2rem;
  border: none;
  padding: 0 2rem;
  border-radius: 5rem;
}

.lastestoffer__text input:focus {
  outline: none;
}

.lastestoffer__text .MuiButton-root {
  width: 50%;
  margin-top: 2rem;
  height: 5rem;
  outline: none;
  border-radius: 5rem;
}

.lastestoffer__text .MuiButton-root:hover {
  background-color: white;
  color: red;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.promotion {
  margin: 6rem 0;
}

.promotion__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25rem;
}

.promotion__content_icon {
  width: 100%;
  text-align: center;
}

.promotion__content_title {
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 80%;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.header {
  position: relative;
  width: 100%;
  height: 10rem;
  background-color: #fff;
}

@media (max-width: 767px) {
  .header {
    height: 6rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    height: 6rem;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  display: flex;
}

@media (max-width: 420px) {
  .header__nav_logo h1 {
    font-size: 1.6rem;
  }
}

.header__nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15rem;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header__nav_list {
    padding-left: 10rem;
  }
}

.header__nav_list li {
  padding: 4rem 0;
  z-index: 10;
}

.header__nav_list li:hover .submenu {
  display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header__nav_items {
    padding-left: 8rem;
  }
}

.header__nav_items li {
  margin-right: 1rem;
}

.header__nav_items form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 20rem;
}

.header__nav_items input {
  border: 1px solid #eeeeee;
  border-radius: 30px;
  padding: 10px 40px 10px 20px;
  width: 100%;
  outline: none;
}

.header__nav_items i {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

@media (max-width: 767px) {
  .header__nav_cart {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .header__nav_button {
    margin-left: 3rem;
  }
}

.header__nav_button .MuiButtonBase-root {
  background-color: blue;
  color: white;
  outline: none;
  height: 4rem;
  width: 10rem;
}

.header__nav_button .MuiButtonBase-root:hover {
  background-color: blue;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.submenu {
  display: none;
  position: absolute;
  top: 95%;
  background-color: #fff;
  border-top: 5px solid red;
  -webkit-box-shadow: 2px 2px 5px #9b9494;
          box-shadow: 2px 2px 5px #9b9494;
  -webkit-transition: all 10s ease;
  transition: all 10s ease;
}

.submenu li {
  margin-top: 1rem;
  padding: 0 2rem;
}

.submenu li:last-child {
  padding-bottom: 1rem;
}

@media (min-width: 767px) {
  .outsizeicon {
    padding: 1rem;
    border-radius: 50%;
    border: 1px solid grey;
  }
}

@media (max-width: 767px) {
  .mobile_button {
    margin-left: 1rem;
  }
}

.nav_mobile {
  position: absolute;
  -webkit-transition: all 10s ease;
  transition: all 10s ease;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #03012a), color-stop(100%, #549aa8), to(#2d2ddd));
  background: linear-gradient(90deg, #020024 0%, #03012a 0%, #549aa8 100%, #2d2ddd 100%);
  z-index: 10;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_mobile li {
  margin-top: 2rem;
  color: white;
}

.nav_mobile li:hover {
  color: yellow;
  cursor: pointer;
}

.nav_close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.togglemenu {
  display: none;
}

.blog {
  margin-top: 10rem;
  width: 85%;
}

.blog__post {
  margin-bottom: 8rem;
  -webkit-box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.2);
          box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.2);
}

.blog__post img {
  width: 100%;
}

.blog__content {
  width: 90%;
  margin: auto;
}

.blog__content_title {
  font-size: 3rem;
  margin-top: 3rem;
}

.blog__content_description {
  font-size: 1.7rem;
  margin-bottom: 5rem;
}

.blog__content_action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  padding-bottom: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__content_action-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.right__side {
  width: 100%;
}

.right__side-one {
  background-color: #f3e6e6;
  height: 20rem;
  text-align: center;
  border-radius: 0.5rem;
}

.right__side-one input {
  height: 5rem;
  width: 90%;
  margin-top: 5rem;
  outline: none;
  border: 1px solid #ffc17a;
  padding: 0 2rem;
}

.right__side-one .MuiButton-root {
  width: 90%;
  margin-top: 2rem;
  height: 5rem;
  background-color: blue;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
}

.right__side-one .MuiButton-root:hover {
  background-color: white;
  color: blue;
  border: 1px solid #fcbcbc;
}

.footer_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4rem 0;
}

.footer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_item h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.footer_item ul li {
  margin-top: 1rem;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.footer_item ul li:hover {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

.footer-logo {
  margin-bottom: 2rem;
}

.footer-pera {
  font-size: 1.6rem;
}
/*# sourceMappingURL=app.css.map */